node_modules
crtssl
build
deteccionmovimiento
archivos
package-lock.json
.env
git-extras

firmware/*
logs
# Include only the default worker's photo


dist
dist-ssr
*.local
# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
